body {    
    margin-top: -15px;
}
header {
    font-size: 0;
    margin: 0 auto;
    padding-top: 45px;
    background-color: #eee;
    width: 1440px;
    vertical-align: text-bottom;
}

main {
    margin: 0 auto;
    width: 1440px;
    background-color: #fff;
    font: 16px/1.9 Roboto, sans-serif;
}

nav {
    display: inline-block;
    width: 560px;
    text-align: center;
    font: 16px/1.9 Roboto, sans-serif;
}

 li {
     list-style: none;
     display: inline-block;
     padding: 0px 10px;
 }

.header {
    display: inline-block;
    width: 440px;
    text-align: center;
    font: 16px/1.9 'Roboto', sans-serif;
}

.slider {
    width: 1300px;
    background-color: #eee;
    position: relative;
    text-align: center;
    padding-left: 140px;
}

.slider > input {
    display: none;
}

 .slider > input + label {
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
        z-index: 100;
        position: relative;
        margin-right: 4px;
        top: 90%;
        transition: background 0.8s ease-out 0s;
    }

.slider > input:checked + label {
    background: #fff;
    width: 10px;
    height: 10px;
    border: 6px double #eee;
    position: relative;
    z-index: 100;
}
.slider > div {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.slider > input:checked + label + div {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

.slid-1 {
    background-image: url(/img/slider/slide1.png);
    background-position-x: 400px;
    background-repeat: no-repeat;
}

.slid-2 {
    background-image: url(/img/slider/slide2.png);
    background-position-x: 400px;
    background-repeat: no-repeat;
}

.slid-3 {
    background-image: url(/img/slider/slide3.png);
    background-position-x: 400px;
    background-repeat: no-repeat;
}

.slid-1 > h2, .slid-2 > h2, .slid-3 > h2 {
  width: 400px;
  font: 55px 'Roboto', sans-serif;
  line-height: 1.3;
  text-align: left;
}

.slid-1 > p, .slid-2 > p, .slid-3 > p {
  width: 400px;
  font: 16px 'Roboto', sans-serif;
  line-height: 1.5;
  text-align: left;
}


.key {
    width: 240px;
    height: 50px;
    background: #fb565a; 
    line-height: 50px;
    color: #fff;
}

.key:hover {
    width: 240px;
    height: 50px;
    background: #e74246; 
    line-height: 50px;
    color: #fff;
}

.key:active {
    width: 240px;
    height: 50px;
    background: #d7373b; 
    line-height: 50px;
    color: #e37376;
}



.order {
    width: 1440px;
    height: 510px
}